@import "tailwindcss";

@theme {
  --color-primary: #1f2064;
  --font-inter: var(--font-inter);
}

.thin-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #cbd5e1 transparent;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 24px 0; 
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 999px;
  border: 1px solid transparent; 
  background-clip: content-box;
}